{% extends "base.html.twig" %}
{% block body %}
		<div class="row">
			<div class="col s12 m8 offset-m2">
				<h4 class="card-panel teal lighten-2 white-head">Modifier mot de passe</h4>
			</div>
		</div>
	{% block fos_user_content %}
		<div class="row">
			{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
		 <div class="col s12 m8 offset-m2">	 
	{% endblock fos_user_content %}

{% endblock body %}